.box-footer {
  display: flex;
  justify-content: space-between;
}

.box-footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10px;
}

.box-footer-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 10px;
}
